@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
}
.lang-ar {
  font-family: 'Cairo', sans-serif;
}
/**************************** Home Page  ****************************/

/* Start Landing Section */

.landing {
  position: relative;
  background: rgb(245, 245, 245) !important;
  background: linear-gradient(
    128deg,
    rgba(228, 228, 228, 0.338) 0%,
    rgba(228, 228, 228, 0.755) 45%,
    rgba(228, 228, 228, 0.251) 79%
  ) !important;
}
@media (min-width: 991px) {
  .landing {
    margin: 50px 60px 0 60px;
    border-radius: 6vh;
  }
}
.landing::before {
  content: '';
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
}
.landing .container {
  min-height: calc(60vh - 72px);
  display: flex;
  align-items: center;
}
.landing .info {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .info {
    text-align: center;
  }
  .landing .container {
    min-height: calc(60vh - 72px);
    padding-bottom: 10px;
  }
}
.name {
  color: #000000;
}
.job {
  color: #939393;
}
.landing .image img {
  position: relative;
  width: 300px;
  opacity: 0.7;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.spot {
  display: flex;
  align-items: center;
  padding: 10px;
}
.green-dot {
  width: 60px;
  height: 60px;
  background-color: rgb(80, 214, 141);
  border-radius: 50%; /* Makes the dot round */
}
.spot p {
  margin-top: 25px;
  margin-left: -30px;
  padding-top: 10px;
  font-weight: bold;
  color: #3d3d3d;
  font-size: 12px;
  text-shadow: 2px 2px 4px rgba(218, 218, 218, 0.5);
}
/* End Landing Section*/

/* Start Projects Section */
.card {
  background: linear-gradient(
    110deg,
    rgba(213, 213, 213, 0.633),
    rgba(255, 255, 255, 0.479)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: none;
}
.card-transition {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease; /* Remove text-opacity from the transition */
}
.card-transition:hover {
  transform: scale(1.05);
}
.btn-container {
  display: flex;
  justify-content: space-around;
}

.button-live {
  color: #fff;
  background-color: #915181;
  background: #915181 !important;
  border-radius: 5px;
  border: 0;
  padding: 10px 30px;
  cursor: pointer;
}
.button-live:hover {
  color: #d6d6d6;
}
/* End Projects Section */

/* Start Technologies Section*/
.tech {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.tech img {
  margin: 10px 20px;
}
.tech img:hover {
  transition: 1s;
  opacity: 0.5;
}
/* End Technologies Section */

/* Start Footer */
footer {
  margin-bottom: -20px;
}
footer {
  background: #856d9c !important;
  text-align: center;

  padding-top: 25px;
  padding-bottom: 25px;
  color: #ffffff;
}
/* End Footer */
/**************************** End Home Page ****************************/
